{
    "plugins": [
      [
        "@babel/plugin-transform-react-jsx", {
          "throwIfNamespace": false
        }
      ]
    ],
    
        "presets": ["@babel/preset-react"]
      
      
  }
  